extends layout

block content
  section.mt-4.mb-5
    .container.mb-4
      h1.font-weight-bold.title Welcome to Pixiv Gallery
      p
        | Pixiv Gallery is a user-friendly web application that provides access to a wide range of features, including:
      ul
        li View Bookmarked Illustrations
        li Explore Artwork by Other Users
        li Access Rankings
        li Discover New Illustrations
        li Easy illustration Filtering Options
        li Ugoira is not working because of limited server resources
        li only the first picture of the list image will be shown 
      p
      .div.alert.alert-danger 
         li Ugoira is not working because of limited server resources
         li only the first picture of the list image will be shown 
         li It can time out if you request too many Illust, examples, such as when using the 'Search Illust' function in combination with filter tags and minimum bookmarks, as this may lead to timeouts. Therefore, it's advisable to avoid using this function excessively       
      | To get started, you'll need to log in using your Refresh Token. Head to the login page for instructions on obtaining your Refresh Token.
      p This app web is intended for personal use and research purposes only. It is not an official app or affiliated with Pixiv in any way

