/* Typography */
body {
  padding-top: 70px;
}

/* h2 {
  font-size: 1vw;
} */

/* Images */
img {
  max-width: 100%;
  max-height: 100%;
}

/* Transitions */
a, .a:hover {
  transition: all 0.2s;
}

/* Container */
.container-fluid {
  width: 94%;
  margin: 0px auto;
  max-width: 94%;
}
.d-flex.searchUserForm{
  max-width: 200px;
}
.form-container-filterSearch {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}
/* Borders and Margins */
.border-round-0 {
  border-radius: 0;
}

.mt-neg100 {
  margin-top: -100px;
}

/* Heights */
.min-50vh {
  min-height: 50vh;
}

/* Dropdowns */
.dropdown-header {
  font-size: 1.5rem;
}

/* Headers and Footers */
.fixed-top {
  border-bottom: 1px solid #f1f1f1;
}

footer.footer {
  border-top: 1px solid #f1f1f1;
}

/* Navigation Links */
.nav-link, .dropdown-item {
  font-weight: 700;
}

.navbar {
  padding: 0.5rem 2rem;
}

/* Overlay */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.2s ease;
  background-color: #008CBA;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: scroll;
}

/* Cards */
.card {
  border: 0;
  width: 100%;
  max-width: fit-content;
  margin-bottom: 15px;
  display: inline-block;
}

.card-pin:hover .overlay {
  opacity: 0.7;
  border: 5px solid #f3f3f3;
  transition: ease 0.2s;
  background-color: #000000;
  cursor: zoom-in;
}

/* More Button */
.more {
  color: white;
  font-size: 1.5vw;
  text-transform: uppercase;
  align-self: flex-end;
  margin: 10px;
}
/* .IconBookmarked {
  text-transform: uppercase;
  align-self: flex-start;
  margin: 10px;
} */
.card-pin:hover .card-title {
  color: white;
  margin-top: 10px;
  text-align: left;
  font-size: 1vw;
}

.card-pin:hover .more a {
  text-decoration: none;
  color: #ffffff;
}

.card-pin:hover .download a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5vw;
}

/* Social Icons */
.social {
  position: relative;
  transform: translateY(-50%);
}

.social .fa {
  margin: 0 3px;
}

/* Grid */
/* Uncomment if needed */
/*
html {
  overflow-y: scroll; 
}

body {
  font-family: sans-serif;
}
*/

/* Grid Styles */
.grid {
  /* background: ghostwhite; */
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* Grid Items */
.grid-item,
.grid-sizer {
  width: 20%;
  width: 300px; /* Set your desired width */
  height: 300px; /* Set your desired height */
}

.grid-item {
  float: left;
  height: auto;
  background: black;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.7);
}

.grid-item--width2 {
  width: 40%;
}

.grid-item--height2 {
  height: 200px;
}

/* Filters */
#filter-nav {
  overflow: scroll;
  max-height: 200px;
}

.userInfor {
  margin-right: 20px;
}
.bookmarked {
  box-shadow: 0 0 20px #ffd900;
}

/***************************Loading animations***********************************/

.page-load-status {
  display: none; /* hidden by default */
  padding-top: 20px;
  border-top: 1px solid #DDD;
  text-align: center;
  color: #777;
}

.loader-ellips {
  display: block;
  font-size: 20px; /* change size here */
  position: relative;
  width: 4em;
  height: 1em;
  margin: 10px auto;
}

.loader-ellips__dot {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 0.5em;
  background: #555; /* change color here */
  position: absolute;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
.loader-ellips.hide {
  display: none;
}
.loader-ellips__dot:nth-child(1),
.loader-ellips__dot:nth-child(2) {
  left: 0;
}
.loader-ellips__dot:nth-child(3) { left: 1.5em; }
.loader-ellips__dot:nth-child(4) { left: 3em; }

@keyframes reveal {
  from { transform: scale(0.001); }
  to { transform: scale(1); }
}

@keyframes slide {
  to { transform: translateX(1.5em) }
}

.loader-ellips__dot:nth-child(1) {
  animation-name: reveal;
}

.loader-ellips__dot:nth-child(2),
.loader-ellips__dot:nth-child(3) {
  animation-name: slide;
}

.loader-ellips__dot:nth-child(4) {
  animation-name: reveal;
  animation-direction: reverse;
}
/***************************Loading animations***********************************/
